{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<section class="w-full mx-auto">
    <!-- col-2 -->
    <div
        class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex flex-col md:flex-row lg:gap-4 xs:gap-2 justify-center items-center lg:items-stretch mt-6">
        <!-- Kichik ekranlar uchun tasvir -->
        <div class="w-full md:hidden">
            <img class="rounded-sm w-4/5 mx-auto" src="{% static '/assets/images/a_69871.jpeg' %}"
                alt="billboard image" />
        </div>
        <!-- Matn qismi -->
        <div class="lg:w-[50%] w-full md:p-4 rounded-md px-4">
            <p class="font-normal text-[20px] uppercase text-[#CA9A37] text-justify">
                {% blocktrans %}
                zeynep triko has been a leading company in the textile industry for more than 7 years is doing Our organization is committed to its excellent craftsmanship, innovative designs and customer satisfaction known for its focus. Here are the details for you to get to know Zeynep Triko better.
                {% endblocktrans %}
            </p>
        </div>
        <!-- Katta ekranlar uchun tasvir -->
        <div class="hidden md:block lg:w-[50%] w-full">
            <img class="rounded-sm w-4/5 mx-auto" src="{% static '/assets/images/a_69871.jpeg' %}"
                alt="billboard image" />
        </div>
    </div>

    <div
        class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex flex-col md:flex-row lg:gap-4 xs:gap-2 justify-center items-center lg:items-stretch mt-4 md:-translate-y-20">
        <!-- Tasvir qismi -->
        <div class="w-full md:w-[50%]">
            <img class="rounded-sm w-4/5 mx-auto" src="{% static '/assets/images/a_70531.jpeg' %}"
                alt="billboard image" />
        </div>
        <!-- Matn qismi -->
        <div class="lg:w-[50%] w-full md:p-4 p-2 rounded-md">
            <p class="font-normal text-[20px] uppercase text-[#CA9A37] text-justify">
                {% blocktrans %}
                ZEYNEP knitwear company was founded in 2016 by a promising and experienced entrepreneur. Since our establishment, we have implemented countless successful projects and become one of the most important companies in the industry. We are proud of our history, quality and experience.
                {% endblocktrans %}
            </p>
        </div>
    </div>

    <div
        class="xl:w-[80%] sm:w-[85%] xs:w-[90%] mx-auto flex flex-col md:flex-row lg:gap-4 xs:gap-2 justify-center items-center lg:items-stretch mt-6 md:-translate-y-40">
        <!-- Kichik ekranlar uchun tasvir -->
        <div class="w-full md:hidden">
            <img class="rounded-sm w-4/5 mx-auto" src="{% static '/assets/images/a_65891.jpeg' %}"
                alt="billboard image" />
        </div>
        <!-- Matn qismi -->
        <div class="lg:w-[50%] w-full md:p-4 p-2 rounded-md">
            <p class="font-normal text-[20px] uppercase text-[#CA9A37] text-justify">
                {% blocktrans %}
                Our mission is to our customers high level of service and in textiles is to promote excellence. Ours our goal is sustainable and environmentally friendly Central Asia and the whole with solutions to become a world-renowned company.
                {% endblocktrans %}
            </p>
        </div>
        <!-- Katta ekranlar uchun tasvir -->
        <div class="hidden md:block lg:w-[50%] w-full">
            <img class="rounded-sm w-4/5 mx-auto" src="{% static '/assets/images/a_65891.jpeg' %}"
                alt="billboard image" />
        </div>
    </div>
</section>


<div class="bg-[url('../assets/images/a_70331.jpeg')] bg-center bg-cover bg-no-repeat relative flex w-full h-screen">
    <div
        class="bg-[url('../assets/images/zeynep.png')] bg-center bg-cover bg-no-repeat w-[200px] h-[100px] absolute right-0 top-0 m-4">
    </div>
</div>


<div class="text-center mt-32 pt-8">
    <h1 class="text-4xl font-semibold py-5 text-[#CA9A37]">{% trans "OUR PRODUCTS:" %}</h1>
    <h1 class="text-4xl font-semibold py-5 mt-4 text-[#CA9A37]">{% trans "KARDIGAN, TROYKA" %}</h1>
    <div class="swiper-container mx-auto overflow-hidden relative w-full">
        <div class="swiper-wrapper py-14">
            <div class="swiper-slide width-4/5">
                <img class="rounded-sm" src="{% static '/assets/images/a_65891.jpeg' %}" alt="Mahsulot 1">
            </div>
            <div class="swiper-slide width-4/5">
                <img class="rounded-sm" src="{% static '/assets/images/a_66881.jpeg' %}" alt="Mahsulot 2">
            </div>
            <div class="swiper-slide width-4/5">
                <img class="rounded-sm" src="{% static '/assets/images/a_67141.jpeg' %}" alt="Mahsulot 3">
            </div>
            <div class="swiper-slide width-4/5">
                <img class="rounded-sm" src="{% static '/assets/images/a_70771.jpeg' %}" alt="Mahsulot 4">
            </div>
            <div class="swiper-slide width-4/5">
                <img class="rounded-sm" src="{% static '/assets/images/a_73291.jpeg' %}" alt="Mahsulot 5">
            </div>
        </div>

        <!-- Slayder navigatsiyasi -->
        <div class="swiper-button-next" style="color:#CA9A37;"></div>
        <div class="swiper-button-prev" style="color:#CA9A37;"></div>
    </div>
</div>

<div class="text-center">
    <h1 class="text-4xl font-semibold py-5 text-[#CA9A37]">{% trans "TROYKA, DVOYKA" %}</h1>
    <div class="swiper-container mx-auto overflow-hidden relative w-full">
        <div class="swiper-wrapper py-14">
            <div class="swiper-slide width-4/5">
                <img src="{% static '/assets/images/a_65891.jpeg' %}" alt="Mahsulot 1">
            </div>
            <div class="swiper-slide width-4/5">
                <img src="{% static '/assets/images/a_66881.jpeg' %}" alt="Mahsulot 2">
            </div>
            <div class="swiper-slide width-4/5">
                <img src="{% static '/assets/images/a_67141.jpeg' %}" alt="Mahsulot 3">
            </div>
            <div class="swiper-slide width-4/5">
                <img src="{% static '/assets/images/a_70771.jpeg' %}" alt="Mahsulot 4">
            </div>
            <div class="swiper-slide width-4/5">
                <img src="{% static '/assets/images/a_73291.jpeg' %}" alt="Mahsulot 5">
            </div>
        </div>

        <!-- Slayder navigatsiyasi -->
        <div class="swiper-button-next" style="color:#CA9A37;"></div>
        <div class="swiper-button-prev" style="color:#CA9A37;"></div>
    </div>
</div>


<div class="text-center px-14 py-4 font-bold text-[20px] uppercase text-[#CA9A37]">
    {% blocktrans %}
    To our dear friends who honored us at the opening ceremony of Zeynep Triko's 2024-2025 fall/winter season and
    I express my gratitude to the dear Zeynep knitwear staff
    {% endblocktrans %}
</div>
{% endblock content %}