{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- component -->
<div class="flex justify-center items-center">
    <div class="2xl:mx-auto 2xl:container lg:px-20 lg:py-16 md:py-12 md:px-6 py-9 px-4 w-96 sm:w-auto">
        <div class="mb-6 flex items-end justify-between gap-4">
            <h2 class="text-2xl font-bold text-[#CA9A37] lg:text-3xl">YANGILILAR</h2>

            <form class="flex items-center">
                <label for="simple-search" class="sr-only">Qidiruv</label>
                <div class="relative w-full">
                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <input type="text" id="simple-search"
                        class="bg-gray-50 border-0 text-gray-900 text-sm rounded-lg focus:ring-0 focus:border-0 block w-full pl-10 p-2.5 "
                        placeholder="Qidiruv.." required>
                </div>
                <button type="submit" style="background-color:#CA9A37;"
                    class="p-2.5 ml-2 text-sm font-medium text-white rounded-lg border focus:ring-4 focus:outline-none "><svg
                        class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                    </svg></button>
            </form>
        </div>
        <div class="lg:flex items-stretch md:mt-12 mt-8">
            <div class="lg:w-1/2">
                <div class="sm:flex items-center justify-between xl:gap-x-8 gap-x-6">
                    <div class="sm:w-1/2 relative">
                        <div>
                            <p class="p-6 text-xs font-medium leading-3 text-white absolute top-0 right-0">12 April
                                2021</p>
                            <div class="absolute bottom-0 left-0 p-6">
                                <h2 class="text-xl font-semibold 5 text-white">The Decorated Ways</h2>
                                <p class="text-base leading-4 text-white mt-2">Dive into minimalism</p>
                                <a href="javascript:void(0)"
                                    class="focus:outline-none focus:underline flex items-center mt-4 cursor-pointer text-white hover:text-gray-200 hover:underline">
                                    <p class="pr-2 text-sm font-medium leading-none">Read More</p>
                                    <svg class="fill-stroke" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.75 12.5L10.25 8L5.75 3.5" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <img src="https://i.ibb.co/DYxtCJq/img-1.png" class="w-full" alt="chair" />
                    </div>
                    <div class="sm:w-1/2 sm:mt-0 mt-4 relative">
                        <div>
                            <p class="p-6 text-xs font-medium leading-3 text-white absolute top-0 right-0">12 April
                                2021</p>
                            <div class="absolute bottom-0 left-0 p-6">
                                <h2 class="text-xl font-semibold 5 text-white">The Decorated Ways</h2>
                                <p class="text-base leading-4 text-white mt-2">Dive into minimalism</p>
                                <a href="javascript:void(0)"
                                    class="focus:outline-none focus:underline flex items-center mt-4 cursor-pointer text-white hover:text-gray-200 hover:underline">
                                    <p class="pr-2 text-sm font-medium leading-none">Read More</p>
                                    <svg class="fill-stroke" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.75 12.5L10.25 8L5.75 3.5" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <img src="https://i.ibb.co/3C5HvxC/img-2.png" class="w-full" alt="wall design" />
                    </div>
                </div>
                <div class="relative">
                    <div>
                        <p class="md:p-10 p-6 text-xs font-medium leading-3 text-white absolute top-0 right-0">12
                            April 2021</p>
                        <div class="absolute bottom-0 left-0 md:p-10 p-6">
                            <h2 class="text-xl font-semibold 5 text-white">The Decorated Ways</h2>
                            <p class="text-base leading-4 text-white mt-2">Dive into minimalism</p>
                            <a href="javascript:void(0)"
                                class="focus:outline-none focus:underline flex items-center mt-4 cursor-pointer text-white hover:text-gray-200 hover:underline">
                                <p class="pr-2 text-sm font-medium leading-none">Read More</p>
                                <svg class="fill-stroke" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.75 12.5L10.25 8L5.75 3.5" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <img src="https://i.ibb.co/Ms4qyXp/img-3.png" alt="sitting place"
                        class="w-full mt-8 md:mt-6 hidden sm:block" />
                    <img class="w-full mt-4 sm:hidden" src="https://i.ibb.co/6XYbN7f/Rectangle-29.png"
                        alt="sitting place" />
                </div>
            </div>
            <div class="lg:w-1/2 xl:ml-8 lg:ml-4 lg:mt-0 md:mt-6 mt-4 lg:flex flex-col justify-between">
                <div class="relative">
                    <div>
                        <p class="md:p-10 p-6 text-xs font-medium leading-3 text-white absolute top-0 right-0">12
                            April 2021</p>
                        <div class="absolute bottom-0 left-0 md:p-10 p-6">
                            <h2 class="text-xl font-semibold 5 text-white">The Decorated Ways</h2>
                            <p class="text-base leading-4 text-white mt-2">Dive into minimalism</p>
                            <a href="javascript:void(0)"
                                class="focus:outline-none focus:underline flex items-center mt-4 cursor-pointer text-white hover:text-gray-200 hover:underline">
                                <p class="pr-2 text-sm font-medium leading-none">Read More</p>
                                <svg class="fill-stroke" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.75 12.5L10.25 8L5.75 3.5" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <img src="https://i.ibb.co/6Wfjf2w/img-4.png" alt="sitting place"
                        class="w-full sm:block hidden" />
                    <img class="w-full sm:hidden" src="https://i.ibb.co/dpXStJk/Rectangle-29.png"
                        alt="sitting place" />
                </div>
                <div class="sm:flex items-center justify-between xl:gap-x-8 gap-x-6 md:mt-6 mt-4">
                    <div class="relative w-full">
                        <div>
                            <p class="p-6 text-xs font-medium leading-3 text-white absolute top-0 right-0">12 April
                                2021</p>
                            <div class="absolute bottom-0 left-0 p-6">
                                <h2 class="text-xl font-semibold 5 text-white">The Decorated Ways</h2>
                                <p class="text-base leading-4 text-white mt-2">Dive into minimalism</p>
                                <a href="javascript:void(0)"
                                    class="focus:outline-none focus:underline flex items-center mt-4 cursor-pointer text-white hover:text-gray-200 hover:underline">
                                    <p class="pr-2 text-sm font-medium leading-none">Read More</p>
                                    <svg class="fill-stroke" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.75 12.5L10.25 8L5.75 3.5" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <img src="https://i.ibb.co/3yvZBpm/img-5.png" class="w-full" alt="chair" />
                    </div>
                    <div class="relative w-full sm:mt-0 mt-4">
                        <div>
                            <p class="p-6 text-xs font-medium leading-3 text-white absolute top-0 right-0">12 April
                                2021</p>
                            <div class="absolute bottom-0 left-0 p-6">
                                <h2 class="text-xl font-semibold 5 text-white">The Decorated Ways</h2>
                                <p class="text-base leading-4 text-white mt-2">Dive into minimalism</p>
                                <a href="javascript:void(0)"
                                    class="focus:outline-none focus:underline flex items-center mt-4 cursor-pointer text-white hover:text-gray-200 hover:underline">
                                    <p class="pr-2 text-sm font-medium leading-none">Read More</p>
                                    <svg class="fill-stroke" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.75 12.5L10.25 8L5.75 3.5" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <img src="https://i.ibb.co/gDdnJb5/img-6.png" class="w-full" alt="wall design" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}