{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<!-- component -->
<div class="flex justify-center items-center">
    <div class="2xl:mx-auto 2xl:container lg:px-20 lg:py-16 md:py-12 md:px-6 py-9 px-4 w-96 sm:w-auto">
        <div class="mb-6 flex items-end justify-between gap-4">
            <h2 class="text-2xl font-bold text-[#CA9A37] lg:text-3xl">{% trans "News" %}</h2>

            <form class="flex items-center">
                <label for="simple-search" class="sr-only">{% trans "Search" %}</label>
                <div class="relative w-full">
                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <input type="text" id="simple-search"
                        class="bg-gray-50 border-0 text-gray-900 text-sm rounded-lg focus:ring-0 focus:border-0 block w-full pl-10 p-2.5 "
                        placeholder="Search.." required>
                </div>
                <button type="submit" style="background-color:#CA9A37;"
                    class="p-2.5 ml-2 text-sm font-medium text-white rounded-lg border focus:ring-4 focus:outline-none "><svg
                        class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                    </svg></button>
            </form>
        </div>
        <div class="lg:flex items-stretch md:mt-12 mt-8">
            <div class="max-w-screen-xl p-5 mx-auto dark:bg-gray-100">
                <div class="grid grid-cols-1 gap-5 lg:grid-cols-4 sm:grid-cols-2">
                    {% for list in new %}
                    <div class="relative flex items-end justify-start w-full text-left dark:bg-gray-500 bg-center bg-cover h-96" style="background-image: url({{ list.image.url }});">
                        <div class="absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-b dark:via- dark:from-gray-50 dark:to-gray-50"></div>
                        <div class="absolute top-0 left-0 right-0 flex items-center justify-between mx-5 mt-3">
                            <a rel="noopener noreferrer" href="#" class="px-3 py-2 text-xs font-semibold tracking-wider uppercase text-white">{{ list.categories }}</a>
                            <div class="flex flex-col justify-start text-center">
                                <span class="text-3xl font-semibold leading-none text-white tracking-wide">{{ list.publish|date:"d" }}</span>
                                <span class="leading-none text-white uppercase">{{ list.publish|date:"F" }}</span>
                            </div>
                        </div>
                        <h2 class="z-10 p-5">
                            <a rel="noopener noreferrer" href="{% url "newone" list.id %}" class="font-medium text-white text-md hover:underline">{{ list.title|slice:":70" }}</a>
                        </h2>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}